<div class="container-fluid">
    <div class="jumbotron text-center">
        <app-loader [isLoading]="isLoading"></app-loader>
        <div *ngIf="!isLoading">
            <p class="line-name">{{(data | async)?.nome}} ({{(data | async)?.codigo}})</p>
        </div>
        <div>
            <a *ngFor="let l of lineRoute" href="https://www.google.com/maps/?q={{l.lat}},{{l.lng}}" target="_blank">
                <p>{{ l.name }}</p>
            </a>
        </div>
    </div>
</div>
