<div class="container-fluid">
    <div class="jumbotron text-center">
        <app-loader [isLoading]="isLoading"></app-loader>
        <div *ngIf="!isLoading">
            <p translate="home.intro"></p>
        </div>
        <ag-grid-angular class="ag-theme-material"
                         [hidden]="isLoading" [rowData]="rowData | async" [columnDefs]="columnDefs"
                         [gridOptions]="gridOptions" (gridReady)="onGridReady($event)" multiSortKey='ctrl'>
        </ag-grid-angular>
    </div>
</div>
